//////////////////////////////////////////////
// Colors
/////////////////////////////////////////////
$text-color: #333;

$input-bg: #fff;
$input-border: #ccc;
$input-color: #555;

//////////////////////////////////////////////
// Paths
/////////////////////////////////////////////
$icon-font-path: "fonts/";

//////////////////////////////////////////////
// Fonts
/////////////////////////////////////////////
$font-family-sans-serif:  Helvetica, Arial, sans-serif !default;
$headings-font-family: $font-family-sans-serif;
$font-size-base: 16px;
$icon-font-name: "glyphicons-halflings-regular";
$on-bg-text-shadow: 0px 1px 2px #000;

//////////////////////////////////////////////
// Sizes
/////////////////////////////////////////////
$navbar-height-xs: 50px;
$navbar-height: 70px;

//////////////////////////////////////////////
// Borders
/////////////////////////////////////////////